<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
  </activePackageSource>
  <apikeys>
    <add key="https://www.myget.org/F/template/api/v3/index.json" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAS+UGAd/eTU2GgsS0/gRDVgAAAAACAAAAAAADZgAAwAAAABAAAAA1XeOACGmlt2jAZimXY3tuAAAAAASAAACgAAAAEAAAAPdlZaQ9tKVqZsvM5ycBfZsoAAAA+WDXwsxzaEjC72ZjHIyCyC68+wH6OOIUH/6j/iJBySsIhs7rajRFpRQAAACJik1KPc3PPbqbjreGwWm9fiknTw==" />
  </apikeys>
  <packageSources>
    <add key="MygetTemplate" value="https://www.myget.org/F/template/api/v3/index.json" />
    <add key="MyGet" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </packageSources>
  <packageSourceCredentials>
    <MygetTemplate>
      <add key="Username" value="tectemplate" />
      <add key="ClearTextPassword" value="hEmyGet@2018" />
    </MygetTemplate>
  </packageSourceCredentials>
</configuration>